@import "../main.scss";

header {
  background-color: $theme-color-dark;
  $left-adjust: 2rem;

  .logo-holder {
    position: relative;

    .logo {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background-color: white;
      margin-left: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      top: 1rem;
      display: inline-block;
      background-color: white;
    }

    .page-title {
      position: absolute;
      top: 8rem;
      left: 3rem;
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px black;
      display: none;
    }
  }
}

